<div class="row" style="margin-top: 10px;">
      <div class="col s12">
      <div class="right">
         <a class='dropdown-trigger btn red darken-4' href='#' data-target='vehicleType'><i class="material-icons left">filter_list</i> Vehicle Type</a>
         <ul id='vehicleType' class='dropdown-content'>
           <li><a href="/listings/vehicles/cars">Car</a></li>
           <li><a href="/listings/vehicles/trucks">Truck</a></li>
           <li><a href="/listings/vehicles/motorcycles">Motorcycle</a></li>
           <li><a href="/listings/vehicles/">All</a></li>
         </ul>
      </div>
     </div>
    </div>