<div id="home" class="parallax-container center-align">
    <div class="row">
        <img src="/images/logo-home.png" class="header-logo" alt="Company Logo">
     </div>    
     <div class="parallax red darken-1">
      </div>
</div>