<div id="home" class="parallax-container center-align">
    <div class="row">
        <img src="/images/logo-home.png" class="header-logo" alt="Company Logo">
     </div>    
     <div class="parallax red darken-1">
      </div>
</div>

<section class="section">
<div class="container">
	<div class="row">
		<div class="col s12">
		<h1>Recent Vehicles</h1>
		  <div class="divider"></div>
	    </div>
	</div>
	<% if @vehicles.empty? %>
      <p class="flow-text">No Vehicles Listed</p>
    <% else %>
      <ul class="vehicles_list">
        <% @vehicles.each_slice(3) do |slice| %> 
          <div class="row">
            <% slice.each do |g| %>
              <li class="vehicle_node">
                <div class="col s12 m4">
                  <div class="card">
                    <% unless g.vehicle_photos.empty? %>
                    <div class="card-image waves-effect waves-block waves-light" />            
                    <%= link_to (image_tag (g.vehicle_photos.first.thumb.url), class: 'activator'), vehicle_listing_path(g.id) %>    
                    </div>
                    <% else %>
                    <div class="card-image waves-effect waves-block waves-light" />            
                    <%= link_to (image_tag ("/images/vehicle-placeholder.jpg"), class: 'activator'), vehicle_listing_path(g.id) %>    
                    </div>
                    <% end %>
                      <div class="card-content">
                        <span class="flow-text activator grey-text text-darken-4">
                          <%= link_to g.title.titleize, vehicle_path(g.id), :class => "grey-text text-darken-4" %>
                        </span>
                      </div>
                    
                  </div>
                </div>
              </li> 
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
    	<div class="col s12 center">
    		<a class="waves-effect waves-light btn-large red darken-4" href="/listings/vehicles">View All</a>
    	</div>
    </div>
</div>
</section>