<div class="section">
	<div class="container">
    <h1>Vehicles</h1>
      <div class="divider"></div>
          <% if @vehicles.empty? %>
              <p class="flow-text">No Vehicles Listed</p>
          <% else %>
          	  <p>List all here!</p>
          <% end %>
    </div>
</div>

