 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


img.header-logo {
    padding-top: 60px;
}

img.responsive-img.materialboxed.photos {
    max-width: 50%;
}

div.field_with_errors > input#email {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

div.field_with_errors > input#name {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

div.field_with_errors > textarea#message {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.alert.alert-notice {
    background-color: #4db6ac;
    font-size: 21px;
    color: #fff;
}

.alert.alert-alert {
    background-color: #ff0000;
    font-size: 21px;
    color: #fff;
}