 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


img.header-logo {
    padding-top: 60px;
}

img.responsive-img.materialboxed.photos {
    max-width: 50%;
}