@charset "UTF-8";

@font-face {
  font-family: 'VintageRegular';
  src:  url('/fonts/vintage-regular-webfont.woff2') format('woff2'),
        url('/fonts/vintage-regular-webfont.woff') format('woff');
}

@import "materialize";
@import "additional";
@import "dropzone/basic";

@media #{$large-and-up} {
  a.brand-logo {
      padding-left: 2rem;
  }
}

span.brand-text1 {
    font-family: VintageRegular, sans-serif;
    text-transform: uppercase;
}

span.brand-text2 {
    font-family: kinescope, sans-serif;
}

@media #{$small-and-down} {
a#brandLogo {
    font-size: 1.5rem;
}
}